<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/light.css">
    <script src="https://kit.fontawesome.com/ca0a08956b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="site-header">
        <h2 class="site-title" id="site-title">
            <!-- Height and wdth of image is 20px to be same as text. -->
            <img class="site-logo" src="/static/img/logo.png" height="20px" width="20px">
            Calorie Tracker
        </h2>
        {% if session['username'] %}
            <button class="btn site-logout" id="site-logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        {% endif %}
    </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% set css_class = message.split('|')[0] %}
                {% set message_content = message.split('|')[1] %}
                <p class="flash {{ css_class }}">{{message_content}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="/static/js/base.js"></script>
</body>
</html>