{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if session['username'] %}
    <h1>Welcome, {{session['username']}}!</h1>
    <p>Calories today: {{total_calories}} / {{userdata['max_calories']}}</p>
    <br><br>
    <button class="btn btn-primary" id="add-food">
        <a href="/add">
            <i class="fa-solid fa-plus"></i> Add food
        </a>
    </button>
    <script src="/static/js/home-logged-in.js" type="text/javascript"></script>
{% else %}
    <div class="homepage-logged-out">
        <div class="login-signup">
            <h1>Login or register to get started</h1>
        <button class="btn btn-primary" id="login-btn">
            <a class="button-link" href="/login">
                Login
            </a>
        </button>
        <br>
        <button class="btn btn-primary" id="register-btn">
            <a class="button-link" href="/register">
                Register
            </a>
        </button>
        </div>
        <div class="about-site">
            <p>This is the calorie tracker app.</p>
        </div>
    </div>
{% endif %}
{% endblock %}