{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if session['username'] %}
    <h1>Welcome, {{session['username']}}!</h1>
    {% if total_calories > userdata['max_calories'] %}
        <p>Calories today: <span class='danger'>{{total_calories}}</span> / {{userdata['max_calories']}}</p>
    {% elif total_calories == userdata['max_calories'] %}
        <p>Calories today: <span class='warning'>{{total_calories}}</span> / {{userdata['max_calories']}}</p>
    {% else %}
        <p>Calories today: <span class="success">{{total_calories}}</span> / {{userdata['max_calories']}}</p>
    {% endif %}
    <br><br>
    <a href="/add">
        <button class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Add food
        </button>
    </a>
    <br>
    <a href="/activity">
        <button class="btn btn-primary">
            My Activity
        </button>
    </a>
    <br>
    <a href="/account">
        <button class="btn btn-primary">
            My Account
        </button>
    </a>
    <br>
    <h3>Today's items eaten:</h3>
    {% if todays_items == {} %}
        <p>No foods yet!</p>
    {% else %}
        {% for name, data in todays_items[0].items() %}
            <ul>
                <li>
                    {{name.title()}} - {{data['full_name']}}
                    <br>
                    Calories - {{data['calories']}}
                </li>
                <br>
            </ul>
        {% endfor %}
    {% endif %}
    
{% else %}
    <div class="homepage-logged-out">
        <div class="login-signup">
            <h1>Login or register to get started</h1>
            <a href="/login">
                <button class="btn btn-primary">Login</button>
            </a>
        <br>
        <a href="/register">
            <button class="btn btn-primary">Register</button>
        </a>
        </div>
        <div class="about-site">
            <p>
                This is the calorie tracker app. You can create an account and from there, input the meals you eat, either as a whole meal or as individual items.
                <br> <!-- For newlines -->
                Start by logging in/registering an account on the right.
            </p>
        </div>
    </div>
{% endif %}
{% endblock %}