{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>
<p>Login to get started.</p>
<form action="/login" method="post">
    <label for="username">
        Username:
        <input name="username" type="text" accept="/^\S*$/" required>
    </label>
    <br>
    <label for="password">
        Password:
        <input name="password" type="password" accept="/^\S*$/" required>
    </label>
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
</form>

{% endblock %}