{% extends 'base.html' %}

{% block title %}Add food{% endblock %}

{% block content %}

{% if page == 1 %}
<h1>Add food</h1>
<form action="/add" method="post">
    <input name="current_page" type="text" value="{{page}}" hidden>
    <div class="food-form">
        <fieldset class="deconstructed-food">
            <legend>Add food by individual items. If entering whole meal, put 'Nil' in all fields.</legend>
            <label for="vegetable">
                Add vegetables, seperate by a comma.
                <input name="vegetable" type="text" required>
            </label>
            <br>
            <label for="meat">
                Add meat, seperate by a comma.
                <input name="meat" type="text" required>
            </label>
        </fieldset>
        <fieldset class="whole-meal-food">
            <legend>Add food as whole meal, e.g. Laksa/Nasi Lemak. If entering deconstructed food, put 'Nil'.</legend>
            <label for="whole_meal">
                Add meal.
                <input name="whole_meal" type="text" required>
            </label>
        </fieldset>
    </div>
    <br>
    <label for="drink">
        Add drink, seperate by a comma. If none, put 'Nil'.
        <input name="drink" type="text">
    </label>
    <br><br>
    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-plus"></i> Add food</button>
</form>
{% else %}
<h1>Confirm food options:</h1>
<form action="/added" method="post">
    <div class="food-form">
        {% if possible_vegetables_list != {} %}
            <fieldset class="vegetables-confirm">
                <legend>Confirm your vegetable choice.</legend>
                {% for name, possible_vegetable_items in possible_vegetables_list.items() %}
                    <label for="{{name}}">
                        Confirm {{name}}:
                        <select name="{{name}}" required>
                            {% for possible_vegetable in possible_vegetable_items %}

                                {% set brand_name = possible_vegetable['brand_name'] %}
                                {% set food_name = possible_vegetable['food_name'] %}
                                {% set calories = possible_vegetable['food_description'].split('Calories: ')[1].split(' | Fat:')[0] %}

                                {% if brand_name == None or brand_name == '' or 'brand_name' not in possible_vegetable %}
                                    <option value="{{food_name}} (brand unspecified)|{{calories}}">{{food_name}} (brand unspecified)</option>
                                {% else %}
                                    <option value="{{brand_name}}'s {{food_name}}|{{calories}}">{{brand_name}}'s {{food_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>
                    <br>
                {% endfor %}
            </fieldset>
        {% endif %}

        {% if possible_meats_list != {} %}
            <fieldset class="meats-confirm">
                <legend>Confirm your meat choice.</legend>
                {% for name, possible_meat_items in possible_meats_list.items() %}
                    <label for="{{name}}">
                        Confirm {{name}}:
                        <select name="{{name}}" required>
                            {% for possible_meat in possible_meat_items %}
                                
                                {% set brand_name = possible_meat['brand_name'] %}
                                {% set food_name = possible_meat['food_name'] %}
                                {% set calories = possible_meat['food_description'].split('Calories: ')[1].split(' | Fat:')[0] %}
                                
                                {% if brand_name == None or brand_name == '' or 'brand_name' not in possible_meat %}
                                    <option value="{{food_name}} (brand unspecified)|{{calories}}">{{food_name}} (brand unspecified)</option>
                                {% else %}
                                    <option value="{{brand_name}}'s {{food_name}}|{{calories}}">{{brand_name}}'s {{food_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>
                    <br>
                {% endfor %}
            </fieldset>
        {% endif %}

        {% if possible_drink_list != [] %}
            <fieldset class="drink-confirm">
                <legend>Confirm your drink choice.</legend>
                <label for="drink-confirm">
                    Confirm drink:
                    <select name="drink">
                        {% for possible_drink in possible_drink_list %}
                            {% set brand_name = possible_drink['brand_name'] %}
                            {% set food_name = possible_drink['food_name'] %}
                            {% set calories = possible_drink['food_description'].split('Calories: ')[1].split(' | Fat:')[0] %}
                            
                            {% if brand_name == None or brand_name == '' or 'brand_name' not in possible_drink %}
                                <option value="{{food_name}} (brand unspecified)|{{calories}}">{{food_name}} (brand unspecified)</option>
                            {% else %}
                                <option value="{{brand_name}}'s {{food_name}}|{{calories}}">{{brand_name}}'s {{food_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <br>
            </fieldset>
        {% endif %}

        {% if possible_whole_meal_list != [] %}
        <fieldset class="meal-confirm">
            <legend>Confirm your meal choice.</legend>
            <label for="meal-confirm">
                Confirm meal:
                <select name="meal">
                    {% for possible_meal in possible_whole_meal_list %}
                        {% set brand_name = possible_meal['brand_name'] %}
                        {% set food_name = possible_meal['food_name'] %}
                        {% set calories = possible_meal['food_description'].split('Calories: ')[1].split(' | Fat:')[0] %}
                        
                        {% if brand_name == None or brand_name == '' or 'brand_name' not in possible_meal %}
                            <option value="{{food_name}} (brand unspecified)|{{calories}}">{{food_name}} (brand unspecified)</option>
                        {% else %}
                            <option value="{{brand_name}}'s {{food_name}}|{{calories}}">{{brand_name}}'s {{food_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
            <br>
        </fieldset>
        {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

<script>
    /*
    function getAndSet(selectObject, hiddenInput) {
        var value = selectObject.value;  
        hiddenInput.value = value;
        console.log(hiddenInput.value);
    }
    const vegetablesSelect = document.getElementById('vegetables-confirm-select');
    const vegetablesHiddenInput = document.getElementById('vegetables-confirm-hidden-input')
    vegetablesSelect.addEventListener('change', getAndSet(vegetablesSelect, vegetablesHiddenInput));

    const meatsSelect = document.getElementById('meat-confirm-select');
    const meatsHiddenInput = document.getElementById('meats-confirm-hidden-input');
    */
</script>

{% endif %}

{% endblock %}